<div class="cards">
  <div class="card" routerLink="lancamento">
    <img src="../../../assets/img/lançamento.png" />
    <a>Lançamento Vertical</a>
  </div>

  <div class="card" routerLink="calculadora">
    <img src="../../../assets/img/Calculadora.png" />
    <a routerLink="">Calculadora</a>
  </div>

  <div class="card" routerLink="energia">
    <img src="../../../assets/img/energia.png" />
    <a>Consumo de Energia</a>
  </div>

  <div class="card" routerLink="troca">
    <img src="../../../assets/img/Troca.png" />
    <a>Troca-Destroca</a>
  </div>

  <div class="card" routerLink="carrinho">
    <img src="../../../assets/img/carrinho.png" />
    <a>Carrinho de Compras</a>
  </div>

  <div class="card" routerLink="tabuada">
    <img src="../../../assets/img/tabuada.png" />
    <a>Tabuada</a>
  </div>

  <div class="card" routerLink="">
    <img src="../../../assets/img/tabela.png" />
    <a>Tabela Dinâmica</a>
  </div>

  <div class="card" routerLink="divisor">
    <img src="../../../assets/img/mdc.png" />
    <a>Máximo Divisor Comum</a>
  </div>

  <div class="card" routerLink="cacaletras">
    <img src="../../../assets/img/caça-letra.png" />
    <a>Caça-Letra</a>
  </div>

  <div class="card" routerLink="fatorial">
    <img src="../../../assets/img/fatorial.png" />
    <a>Fatorial</a>
  </div>

  <div class="card" routerLink="crescente">
    <img src="../../../assets/img/crescente.png" />
    <a>Números Crescentes</a>
  </div>

  <div class="card" routerLink="primos">
    <img src="../../../assets/img/primo.png" />
    <a>Números Primos</a>
  </div>

  <div class="card" routerLink="soma">
    <img src="../../../assets/img/soma.png" />
    <a>Soma-Soma</a>
  </div>

  <div class="card" routerLink="binario">
    <img src="../../../assets/img/binario.png" />
    <a>Decimal -> Binário</a>
  </div>

</div>
