.cards {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--terceira-color);
  border-radius: 5px;
  width: 500px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 0px 8px var(--segunda-color);
  display: flex;
  align-items: center;
}

h1, li{
  color: var(--primeira-color);
  font-size: large;
}
input, button{
  border-radius: 8px;
  width: 50%;
}

button{
  width: 100%;
  margin-top: 10px;
}

img{
  height: 100px;
  width: 100px;
}

ul {
  list-style: none;
}

